/*
	Cosmix by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'helvetica_ce_55_romanregular';
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica_neue_ce_55_roman-webfont.woff2') format('woff2'),
        url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
        url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'),
        url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica_ce_55_romanregular';
    width: 100%;
    min-height:  100vh; ;
}

.container{box-sizing: border-box;}


#preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#pre-status,
.preload-placeholder {
    background-image: url(../preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 296px;
    left: 38%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 32%;
    width: 296px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.parallex {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 13px;
    color: #666;
    font-weight: bolder;
    line-height: 25px;
    font-family: 'open_sansregular';
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'helvetica_ce_55_romanregular';
}

h1 {
    color: #fff;
    font-size: 51px;
    text-transform: uppercase;
}

h2 {
    color: #555;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
}

h3 {
    color: #333;
    font-size: 23px;
}

h4 {
    color: #555;
    font-size: 21px;

}

h5 {
    color: #333;
    font-size: 16px;
}



h6 {
    font-size: 16px;
}

strong {
    font-weight: bolder;
}


/*Navigation-stylesheets-include-here*/

.navbar { display: flex;
background-color:white;
justify-content: space-between;
align-content: center;
align-items: flex-end;
border: 3px solid blue;

align-items: center;
width: 100%}


.navbar .navbar-collapse{ 
   
}







/** I am a technical Product Manager and Frontend **/

#welcome {
    height: 400px;
    background-color: #364182;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:7%;
    border: 3px solid yellow;
    padding-top:80px;
    padding-bottom: 50px;}

.welcome-div {
    height: 40px;
    width: 80%;
    background: white;
    border-radius: 999px;
    margin-left: 150px;
    align-items: center;
  
}
.welcome-text {
    font-size: 22px;
    text-align: center;
}
/* mobile first */
@media screen and (min-width: 992px) {
    .welcome-text {
        font-size: 50px;
    }
} 

@media screen and (max-width: 761px) {
    .welcome-div { width: 80%;
    margin-left: 40px;}
} 

        
@media screen and (max-width: 640px) {
    .welcome-div { width: 80%;
    margin-left: 40px;}
} 

@media screen and (max-width: 475px) {
    .welcome-div { width: 80%;
    margin-left: 40px;}
} 







/* what i bring to the table*/

#what {
    text-align: center;
}

#when {
    text-align: center;
}

.row{ border: 3px solid green;}

.value{text-align: justify;}
 .mediabody{background-color:}

/** Bio- About me**/


/** download CV**/
.pill{font-size: 15px;
padding: 0.5em  1em;
margin: 0.25em;
border-radius: 1em;
outline: none;
border: none;
background-color:#364182 ;
color: white;
cursor: pointer;

}
.pill:hover{transform: scale(00.3s);}






/*Contact-stylesheets-include-here*/
#contact {
    text-align: center;
    padding: 6% 0% 0% 2%;
}


.contact-sec-1 {
    text-align: left;
}

.contact-sec-1 h4 {
    font-weight: bold;
}

.contact-sec-1 ul.contact-form li i.fa {
    color: #666;
    float: left;
    margin-right: 10px;
}

.contact-sec-1 ul.contact-form li h6 {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.contact-sec-1 ul {
    padding: 0;
    position: relative;
    top: 20px;
}

.contact-sec-1 ul li {
    display: block;
    padding-bottom: 30px;
}

.contact-sec-1 ul li a {
    color: #666;
}

.contact-sec-1 ul li a:hover {
    color: green;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

}

/** contant**/
#main-contact-form {
    padding-top: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

label {
    font-size: 15px;
    font-weight: normal;
    float: left;
    margin: 0px 0px 20px 0px;
}

.form-group {
    margin-bottom: 30px;
}

textarea.form-control {
    min-height: 120px;
    resize: none;
}

.form-control {
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 0;
    box-shadow: none;
}

/*Footer-stylesheets-include-here*/
#footer {
    text-align: center;
    min-height: 10px;

}

#footer-down {
    position: relative;
    background-color: #364182;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    min-height: 100px;
    padding-top: 10px;
    width:100%;
    border: 3px solid purple;
}

#footer-down h2 {
    color: whitesmoke;
    margin: 20px 0px 40px 0px;
    text-transform: none;
}

#footer-down ul li {
    display: inline-block;
    margin-right: 20px;
}

#footer-down ul li a i.fa {
    color: white;
    font-size: 22px;
    border: 2px solid #999;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 25%;
}

.footer-text {
    color: ivory;
}








